@model List<CustomerLogoViewModel>
@using Nyma.Domain.ViewModels.CustomerLogo
@using Nyma.Application.StaticTools

@{
    ViewData["Title"] = "لیست نظر مشتریان";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">@ViewData["Title"]</h3>
        </div>
        <div class="right-title">
            <button type="button" onclick="LoadCustomerLogoFormModal(0)" class="btn btn-circle btn-success mb-5"><i class="mdi mdi-plus"></i></button>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body" id="data-table-box">
                    <div class="table-responsive">
                        <table class="table table-hover no-wrap data-table">
                            <thead>
                                <tr class="bg-secondary">
                                    <th>تصویر لوگو</th>
                                    <th>توضیحات لوگو"</th>
                                    <th>لینک</th>
                                    <th>الویت</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null && Model.Any())
                                {
                                    @foreach (CustomerLogoViewModel item in Model)
                                    {
                                        <tr id="ListItem-@(item.Id)">
                                            <td>
                                                <img width="150" height="150" src="@(string.IsNullOrEmpty(item.Logo) ? FilePaths.DefaultAvatar : $"{FilePaths.CustomerLogo}{item.Logo}")" />
                                            </td>
                                            <td>@item.LogoAlt</td>
                                            <td>@item.Link</td>
                                            <td>@item.Order</td>
                                            <td>
                                                <button onclick="LoadCustomerLogoFormModal(@item.Id)" class="btn btn-icon-circle btn-warning">
                                                    <i class="ti-marker-alt"></i>
                                                </button>
                                                <button onclick="DeleteCustomerLogo(@item.Id)" class="btn btn-icon-circle btn-danger">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
